<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of characters</title>
</head>
<body>
<h1>Donjons et Dragons - Liste des personnages</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Points de vie</th>
        <th>Actions</th>
    </tr>
    <tr th:each="character : ${characters}">
        <td th:text="${character.id}"></td>
        <td th:text="${character.name}"></td>
        <td th:text="${character.type}"></td>
        <td th:text="${character.healthPoints}"></td>
        <td>
            <button><a th:href="@{'/characters/edit/' + ${character.id}}">Editer</a></button>
            <form th:method="delete" th:action="@{/characters/delete/{id}(id=${character.id})}">
                <button>Supprimer</button>
            </form>
        </td>

    </tr>
</table>
<button><a href="/characters/add">Ajouter un personnage</a></button>
</body>
</html>

<style>
    a{
        text-decoration: none;
        color: black;
    }
</style>